body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;font-weight: normal;font-size: 0.14rem}

body{
  font-family: "PingFang SC";
}

html,body{
  height: 100%;
  font-size: 0.14rem;
  background: #f7f7f7;
}

a{
  text-decoration: none;
  color:#000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.tab_head{
  display:flex;
  justify-content: space-around;
  background:#fff;
  font-size: 0.14rem;
  color: #2c2c2f;
  padding:0.18rem 0 0;
  border-bottom:1px solid #e1e1e1;
  .click_style{
    border-bottom:2px solid #2c2c2f;
    color:#000;
  }

  span{
    display:inline-block;
    padding-bottom:0.14rem;
  }
  a{
    text-decoration: none;
    color:#000;
  }
}

.activity-list{
  .single{
    height:3.12rem;
    background:#ffffff;
    padding:0.12rem 0.16rem ;
    margin-bottom:0.16rem;
    position:relative;
    .cover{
      width: 100%;
      margin-top:0.16rem;
    }
    .state{
      position:absolute;
      top:0.4rem;
      left:0.3rem;

      span{
        padding:0.04rem;
        color:#fff;
      }


      .p_bg{
        background-color: #ff5a60;
        -webkit-border-radius:0.05rem;
        -moz-border-radius:0.05rem;
        border-radius:0.03rem;
      }
      .s_bg{
        background-color: #f6a623;
      }
      .e_bg{
        background-color: #c0c0c0;
      }
    }
    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.16rem;
      margin-top:0.16rem;
      .title{
        max-width: 2.6rem;
        color: #404040;
        font-weight: 800;
        text-align: left;
        font-size: 0.16rem;
      }
      .price_1{
        color: #323232;
      }
      .price_2{
        color: #ff5a60;
      }
    }
    .time{
      display:flex;
      justify-content:left;
      font-size: 0.12rem;
      color: #999999;
      margin-top:0.12rem;
      line-height:0.12rem;
      img{
        width:0.12rem;
        height:0.12rem;
        padding-right: 0.08rem;
      }
    }
    .location{
      display:flex;
      justify-content:space-between;
      font-size: 0.12rem;
      color: #999999;
      margin-top:0.13rem;
      line-height:0.12rem;
      img{
        width:0.12rem;
        padding-right: 0.08rem;
      }
    }
  }

}
.my_active{
  color:#b3b3b3;
}
.all_active{
  color:#b3b3b3;
}

.activities_my{
  display: none;
}



