@import "common.scss";

.price1{
  font-size: 0.2rem;
  color: #323232;
}

.price2, .price3{
  padding-top: 0.01rem;
  span{
    &:nth-child(1){
      font-size: 0.12rem;
      color: #ff5a60;
    }
    &:nth-child(2){
      font-size: 0.24rem;
      color: #ff5a60;
    }
  }
}

.price3 {
  span{
    &:nth-child(1){
      color: #FFF;
    }
    &:nth-child(2){
      color: #FFF;
    }
  }
}

.act-container{
  .activities_detail{
    .header{

      img{
        width:100%;
      }
    }
    .a_wrapper{
      padding:0 0.16rem;
      .title{
        display:flex;
        justify-content: space-between;
        padding-top:0.18rem;
        .title_content{
          font-size: 0.24rem;
          font-weight: bold;
          color: #323232;
          width: 2.3rem;
        }
      }
      .state{
        display:flex;
        justify-content:space-between;
        padding-bottom:0.24rem;
        padding-top:0.12rem;
        border-bottom:1px solid #e1e1e1;
        .activity-status {
          width: 0.75rem;
        }
        .state_box {
          overflow: hidden;
        }
        .status{
          display: inline-block;
          font-size: 0.11rem;
          color: #3cb43c;
          padding:0.05rem 0.08rem;
          border-radius: 0.04rem;
          margin-right: 8px;
          background-color: rgba(59, 180, 59, 0.15);
          &:nth-child(n + 6) {
            margin-top: 10px;
          }
        }
        .status_tag{
          display: inline-block;
          font-size: 0.11rem;
          padding:0.05rem 0.08rem;
          color: #ffffff;
          border-radius: 0.04rem;
          white-space: nowrap;
        }
        .p_bg{
          background-color: #ff5a60;
        }
        .s_bg{
          background-color: #f6a623;
        }
        .e_bg{
          background-color: #c0c0c0;
        }
        .a_bg{
          background-color: #9b9b9b;
        }
      }
      .act_detail {
        font-size: 0.14rem;
        color: #333333;
        div {
          border-bottom: 1px solid #e1e1e1;
          padding: 0.24rem 0;
        }
        .contact {
          display: flex;
          justify-content: space-between;
          img {
            width: 0.13rem;
            margin-right: 0.08rem;
          }
        }
        .address {
          display: flex;
          justify-content: space-between;
          img {
            width: 0.13rem;
            margin-right: 0.08rem;
          }
        }
        .people_num{
          display: flex;
          justify-content: space-between;
          span {
            line-height: 0.28rem;
            height: 0.28rem;
            vertical-align: middle;
            display: inline-block;
          }
          img{
            width:0.28rem;
            height:0.28rem;
            border-radius:100%;
          }
        }
      }
    }
    .act_tab{
      padding-top:0.17rem;
      margin-bottom: 0.32rem;
      overflow: hidden;
      .tab_comment {
        background-color: #f9f9f9;
        padding: 0.2rem 0.2rem 0.1rem;
        display:none;
        .comment{
          margin-bottom: 0.26rem;
          .comment_act{
            display:flex;
            justify-content:left;
            line-height:0.35rem;
            .word{
              word-wrap: break-word;
              width:80%;
              padding-left:0.16rem;
            }
            img{
              width:0.32rem;
              border-radius:100%;


            }
          }
          .comment_img{
            display:flex;
            justify-content:space-between;
            .star{
              padding-left:0.48rem;
            }
            .date{
              font-size: 0.11rem;
              color: #999999;
            }
            img{
              width:0.12rem;
              padding-right:0.05rem;
            }
          }
        }
      }
      .tab_title{
        display:flex;
        justify-content:space-around;
        padding-bottom:0.17rem;
        font-size: 0.12rem;
        .tab_style{
          color: #2c2c2f;
          opacity:1.0;
        }
      }
      .tab_detail{
        background-color: #f9f9f9;
        .description{
          padding:0.2rem 0.2rem 0.1rem;
        }
        ul{
          li{
            list-style-type: none;
          }
        }
        img{
          max-width:100%;
        }
      }
      .relative_act{
        .relative_act_title{
          font-size: 0.17rem;
          color: #323232;
          padding-top:0.24rem;
          padding-bottom:0.16rem;
        }
        .relative_act_img{
          position: relative;
          background-color: #fff;
          display: inline-block;
          overflow-x: auto;
          box-sizing: border-box;
          white-space: nowrap;

          ul{
            display:flex;
            justify-content:space-between;
            li{
              list-style-type: none;
              img{
                width:2.16rem;
                height:1.44rem;
                padding-right:0.12rem;
              }
            }
          }
        }
      }

    }
  }
  .bt {
    height:0.52rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #ff5a60;
    font-size: 0.17rem;
    color: #ffffff;
  }

  .button1{
    
  }
  .button2{
    padding:0 0.16rem;
    justify-content:space-between;
  }
}

.tab_title_details{
  color: #404040;
  opacity: 0.4;
  display:flex;
  line-height:0.12rem;
  align-items: center;
  img{
    width:0.2rem;
    height:0.2rem;
    margin-right:0.08rem;

  }
}
.tab_title_comment{
  color: #404040;
  opacity: 0.4;
  display:flex;
  align-items: center;
  img{
    width:0.2rem;
    height:0.18rem;
    margin-right:0.08rem;
  }
}
.relative_act_img::-webkit-scrollbar {
  display: none;
}
.sign_up{
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: 160;
  .s_square{
    padding-left: 0.16rem;
    width:100%;
    z-index: 102;
    background-color: #ffffff;
    position:relative;
  }
  .s_order{
    padding: 0.14rem 0.14rem 0.14rem 0;
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
  }
  .s_content {
    padding: 0.16rem 0.16rem 0.16rem 0;
  }

  .s_content_title {
    margin-bottom: 0.16rem;
  }

  .s_content_box {
    box-sizing: border-box;
    span {
      height: 0.4rem;
      width: 1rem;
      text-align: center;
      line-height: 0.4rem;
      margin-right: 0.16rem;
      border-radius: 5px;
      border: 1px solid #979797;
      box-sizing: border-box;
      display: inline-block;
      &:nth-child(n + 4) {
        margin-top: 0.12rem;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:focus, &:active {
        background: #ff5a60;
        border: none;
        color: #fff;
      }
    }

    .s_content_active {
      background: #ff5a60;
      border: none;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .order_number {
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .order_title {
    display: inline-block;
    height: 0.3rem;
    line-height: 0.3rem;
  }
  .order_number_sub, .order_number_add {
    display: inline-block;
    img {
      width: 0.3rem;
      border-radius: 50%;
    }
  }

  .order_number_sub {
    margin-right: 0.1rem;
  }
  .order_number_add {
    margin-left: 0.1rem;
  }
}

.shadow-box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 66;
  margin: auto;
  opacity: 0.6;
  background: #000000;
  display: none;
}

.shadow-active {
  display: block!important;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.button2 {
  z-index: 100;
  position: relative;
}

.button1 {
  z-index: 99;
  position: relative;
}