body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;font-weight: normal;font-size: 0.14rem}

body{
  font-family: "PingFang SC";
}

html,body{
  height: 100%;
  font-size: 0.14rem;
  background: #f7f7f7;
}

a{
  text-decoration: none;
  color:#000;
}

.header{
  width:100%;
  background: #6e6e6e;
  height:2.3rem;
  .head_icon{
    display:flex;
    justify-content:space-between;
    padding:0 0.16rem;
  }
}

.act-container{
  .activities_detail{
    padding:0 0.16rem;
    .title{
      display:flex;
      justify-content: space-between;
      padding-top:0.21rem;
      .title_content{
        font-size: 0.24rem;
        font-weight: 500;
        color: #323232;
      }
      .price{
        font-size: 0.2rem;
        color: #323232;
      }
    }
    .state{
      display:flex;
      justify-content:space-between;
      padding-bottom:0.24rem;
      padding-top:0.08rem;
      border-bottom:1px solid #e1e1e1;
      .status{
        font-size: 0.12rem;
        color: #3cb43c;
        padding:0.08rem;
        border-radius: 0.04rem;
        background-color: rgba(59, 180, 59, 0.15);
      }
      .status_tag{
        font-size: 0.11rem;
        padding:0.05rem;
        color: #ffffff;
        border-radius: 0.02rem;
        background-color: #ff5a60;
      }
    }
    .act_detail{
      font-size: 0.14rem;
      color: #333333;
      div{
        border-bottom:1px solid #e1e1e1;
        padding:0.24rem 0;
      }
    }
    .act_tab{
      padding-top:0.28rem;
      .tab_title{
        display:flex;
        justify-content:space-around;
        padding-bottom:0.17rem;
      }
      .tab_detail{
        background-color: #f9f9f9;
        .description{
          padding:0.2rem 0 0.1rem 0;
        }
        img{
          height:0.2rem;

        }
      }
      .relative_act{
        .relative_act_title{
          font-size: 0.17rem;
          color: #323232;
          padding-top:0.24rem;
          padding-bottom:0.16rem;
        }
        .relative_act_img{
          position: relative;
          background-color: #fff;
          display: inline-block;
          width: 100%;
          overflow-x: auto;
          box-sizing: border-box;
          white-space: nowrap;

          ul{
            display:flex;
            justify-content:space-between;
            li{
              list-style-type: none;
              img{
                width:2.16rem;
                height:1.44rem;
                padding-right:0.12rem;
              }
          }
          }
        }
      }
    }
  }
}

.button{
  height:0.52rem;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #ff5a60;
  font-size: 0.17rem;
  color: #ffffff;
  margin-top:0.2rem;
}
.relative_act_img::-webkit-scrollbar {
  display: none;
}