body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,blockquote{margin:0;padding:0;font-weight: normal;font-size: 0.14rem}

body{
  font-family: "PingFang SC";
}

html,body{
  min-height: 100%;
  font-size: 0.14rem;
  background: #f7f7f7;
}

a{
  text-decoration: none;
  color:#000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}



.act-container{
  .activities_detail{
    .header{
      .heart{
        width: 0.2rem;
        height: 0.2rem;
        position: absolute;
        top: 0.16rem;
        right: 0.16rem
      }
      img{
        width:100%;
      }
    }
    .a_wrapper{
      padding:0 0.16rem;
      .title{
        display:flex;
        justify-content: space-between;
        padding-top:0.21rem;
        .title_content{
          font-size: 0.24rem;
          font-weight: 500;
          color: #323232;
        }
        .price{
          font-size: 0.2rem;
          color: #323232;
        }
      }
      .state{
        display:flex;
        justify-content:space-between;
        padding-bottom:0.24rem;
        padding-top:0.08rem;
        border-bottom:1px solid #e1e1e1;
        .status{
          font-size: 0.12rem;
          color: #3cb43c;
          padding:0.08rem;
          border-radius: 0.04rem;
          background-color: rgba(59, 180, 59, 0.15);
        }
        .status_tag{
          font-size: 0.11rem;
          padding:0.05rem;
          color: #ffffff;
          border-radius: 0.02rem;
          line-height: 0.2rem;
        }
        .p_bg{
          background-color: #ff5a60;
        }
        .s_bg{
          background-color: #f6a623;
        }
        .e_bg{
          background-color: #c0c0c0;
        }
      }
      .act_detail {
        font-size: 0.14rem;
        color: #333333;
        div {
          border-bottom: 1px solid #e1e1e1;
          padding: 0.24rem 0;
        }
        .contact {
          display: flex;
          justify-content: space-between;
          img {
            width: 0.12rem;
            padding-right: 0.08rem;
          }
        }
        .address {
          display: flex;
          justify-content: space-between;
          img {
            width: 0.12rem;
            padding-right: 0.08rem;
          }
        }
      }
      .act_tab{
        padding-top:0.28rem;
        .tab_comment{
          display:none;
          .comment{
            .comment_act{
              display:flex;
              justify-content:left;
              line-height:0.35rem;
              .word{
                word-wrap: break-word;
                width:80%;
              }
              img{
                width:0.32rem;
                padding-right:0.16rem;
                border-radius:100%;
              }
            }
            .comment_img{
              display:flex;
              justify-content:space-between;
              img{
                width:0.12rem;
                padding-right:0.05rem;
              }
            }
          }
        }
        .tab_title{
          display:flex;
          justify-content:space-around;
          padding-bottom:0.17rem;
          font-size: 0.12rem;
          .tab_style{
            color: #2c2c2f;
            opacity:1.0;
          }
        }
        .tab_detail{
          background-color: #f9f9f9;
          .description{
            padding:0.2rem 0 0.1rem 0;
          }
          ul{
            li{
              list-style-type: none;
            }
          }
          img{
            max-width:100%;
          }
        }
        .relative_act{
          .relative_act_title{
            font-size: 0.17rem;
            color: #323232;
            padding-top:0.24rem;
            padding-bottom:0.16rem;
          }
          .relative_act_img{
            position: relative;
            background-color: #fff;
            display: inline-block;
            overflow-x: auto;
            box-sizing: border-box;
            white-space: nowrap;

            ul{
              display:flex;
              justify-content:space-between;
              li{
                list-style-type: none;
                img{
                  width:2.16rem;
                  height:1.44rem;
                  padding-right:0.12rem;
                }
              }
            }
          }
        }

      }
    }
  }
  .button1{
    height:0.52rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #ff5a60;
    font-size: 0.17rem;
    color: #ffffff;
    margin-top:0.2rem;
  }
  .button2{
    height:0.52rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: #ff5a60;
    font-size: 0.17rem;
    color: #ffffff;
    margin-top:0.2rem;
    padding:0 0.16rem;
  }
}

.tab_title_details{
  color: #404040;
  opacity: 0.4;
  display:flex;
  line-height:0.12rem;
  align-items: center;
  img{
    width:0.2rem;
    height:0.2rem;
    padding-right:0.08rem;

  }
}
.tab_title_comment{
  color: #404040;
  opacity: 0.4;
  display:flex;
  align-items: center;
  img{
    width:0.2rem;
    height:0.18rem;
    padding-right:0.08rem;
  }
}
.relative_act_img::-webkit-scrollbar {
  display: none;
}