*{
	margin: 0;
	padding: 0;
	list-style:none;
}
a{
	text-decoration: none;
	color:#000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img{
	display: block;
}

body{
	font-family: PingFangSC;
}

body, html {
	height: 100%;
}

.news_list{
	display: flex;
	align-items: center;
	padding: 0.16rem;
	position: relative;
}

.news_list:active, .news_list:focus{
	background: #f5f5f5;
}
.no_active{
	height: 100%;
	padding-top: 2rem;
	box-sizing: border-box;
	text-align: center;
}

.no_active img{
	display: initial;
	width: 1rem;
}

.no_active div {
	font-size: 0.16rem;
	padding: 0.16rem;
	color: #6e6e6e;
	opacity:0.8;
}

.news_list:last-child {
	border-bottom: none;
}

.news_list::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background : #e1e1e1;
	height: 1px;
	width: 100%;
}

.news_img{
	width: 1.1rem;
}

.news_img > img{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.news_content{
	margin-left: 0.1rem;
}

.news_content>p:first-child{
	font-size: 0.14rem;
	color: #222222;
	font-weight:500;
}

.news_content>p:nth-of-type(2){
	font-size: 0.11rem;
	color: #999999;
	padding-top:0.04rem;
}


